<div class="image-container set-full-height" style="background-image: url('http://senhospitalagra.com/images/ps.jpg')">
	<!--   Creative Tim Branding   -->




	<!--   Big container   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				
				<!--      Wizard container        -->
				<div class="wizard-container">
					<div class="card wizard-card" data-color="red" id="wizard">
						<form action="" method="">
							<!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

							<div class="wizard-header">
								<h3 class="wizard-title">
									User Registration Form
								</h3>
								<h5>This information will let us know more about you.</h5>
							</div>
							<div class="wizard-navigation">
								<ul class="nav nav-pills nav-pills-icons" role="tablist">
									<li><a href="#details" role="tab" data-toggle="tab">Basic Details</a></li>
									<li><a href="#engage" role="tab" data-toggle="tab">Engagement Type</a></li>
									<li><a href="#education" role="tab" data-toggle="tab">Education</a></li>
									<li><a href="#experience" role="tab" data-toggle="tab">Experience</a></li>
									<li><a href="#facility" role="tab" data-toggle="tab">Facility Details</a></li>
								</ul>
							</div>
<!--<div class="moving-tab" style="width: 187.5px; transform: translate3d(-8px, 0px, 0px); transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">Location</div>-->
						

							<div class="tab-content">
								<div class="tab-pane" id="details">
									<div class="row">
										<div class="col-sm-12">
											<h4 class="info-text"> Let's start with the basic details.</h4>
										</div>

										<div class="col-sm-6">
											<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">email</i>
													</span>
													<div class="form-group label-floating is-empty">
			                                          	<label class="control-label">Your Email</label>
			                                          	<input name="name" type="text" class="form-control">
			                                        <span class="material-input"></span></div>
												</div>
									</div>
											<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_fullName">Full Name</label>
												<input type="text" class="form-control" name="co_fullName" id="co_fullName" />
										
											</div>

											<div class="input-group" style="width: 40%; float: right; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-right: 20px;">
												<label class="control-label" for="co_email">Email</label>
												<input type="text" class="form-control" name="co_email" id="co_email" />
										
											</div>

												<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_phone">Phone Number</label>
												<input type="text" class="form-control" name="co_phone" id="co_phone" />
										
											</div>

												<div class="input-group" style="width: 40%; float: right; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-right: 20px;">
												<label class="control-label" for="co_speciality">Speciality</label>
												<input type="text" class="form-control" name="co_speciality" id="co_speciality" />
										
											</div>

												<div class="input-group" style="width: 40%; float: right; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-right: 20px;">
												<label class="control-label" for="co_medicalNo">Medical Registration Number</label>
												<input type="text" class="form-control" name="co_medicalNo" id="co_medicalNo" />
										
											</div>

												<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_city">City</label>
												<input type="text" class="form-control" name="co_city" id="co_city" />
										
											</div>

												<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_area">Area</label>
												<input type="text" class="form-control" name="co_area" id="co_area" />
										
											</div>
									
									</div>
								</div>
								<div class="tab-pane" id="engage">
									<h4 class="info-text">What describes you best? </h4>
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="col-sm-4">
												<div class="choice" data-toggle="wizard-checkbox">
													<input type="checkbox" name="jobb" value="Design">
													<div class="icon">
														<i class="fa fa-pencil"></i>
													</div>
													<h6>Facility Owner</h6>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="choice" data-toggle="wizard-checkbox">
													<input type="checkbox" name="jobb" value="Code">
													<div class="icon">
														<i class="fa fa-terminal"></i>
													</div>
													<li><a href="#speciality" role="tab" data-toggle="tab">Healthcare Professional</a></li>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="choice" data-toggle="wizard-checkbox">
													<input type="checkbox" name="jobb" value="Develop">
													<div class="icon">
														<i class="fa fa-laptop"></i>
													</div>
													<h6>Both</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="education">
									<div class="row">
										<h4 class="info-text"> Education.</h4>
										<div class="col-sm-6 col-sm-offset-1">
											<div class="input-group">
												<label>Graduation</label>
												<textarea class="form-control" placeholder="" rows="6"></textarea>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_degree">Degree</label>
												<input type="text" class="form-control" name="co_degree" id="co_degree" />
										
											</div>
											<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_institute">Institute</label>
												<input type="text" class="form-control" name="co_institute" id="co_institute" />
										
											</div>
											<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_completionYear">Completion Year</label>
												<input type="text" class="form-control" name="co_completionYear" id="co_completionYear" />
										
											</div>
											
										</div>
									</div>
								</div>
								<div class="tab-pane" id="<experience></experience>">
									<!--<h4 class="info-text">What type of clinic would you want? </h4>-->
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="col-sm-4">
												<div class="choice" data-toggle="wizard-checkbox">
													<input type="checkbox" name="jobb" value="Design">
													<div class="icon">
														<i class="fa fa-pencil"></i>
													</div>
													<h6>Facility</h6>
												</div>
											</div>
											<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_designation">Designation/Role</label>
												<input type="text" class="form-control" name="co_designation" id="co_designation" />
										
											</div>
											<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_time">From-To</label>
												<input type="text" class="form-control" name="co_time" id="co_time" />
										
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="facility">


														<div class="input-group" style="width: 40%; float: right; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-right: 20px;">
												<label class="control-label" for="co_name">Name</label>
												<input type="text" class="form-control" name="co_name" id="co_name" />
										
											</div>

												<div class="input-group" style="width: 40%; float: right; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-right: 20px;">
												<label class="control-label" for="co_address">Address</label>
												<input type="text" class="form-control" name="co_address" id="co_address" />
										
											</div>

												<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_description">Description</label>
												<input type="text" class="form-control" name="co_description" id="co_description" />
										
											</div>

												<div class="input-group" style="width: 40%; float: left; z-index: 100; margin-top: 0px; margin-bottom: 0px; margin-left: 20px;">
												<label class="control-label" for="co_images">Images of Facility</label>
												<input type="text" class="form-control" name="co_images" id="co_images" />
										
											</div>


							</div>
							<div class="wizard-footer">
								<div class="pull-right">
									<input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' />
									<input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
								</div>
								<div class="pull-left">
									<input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

									<div class="footer-checkbox">
										<div class="col-sm-12">
											<div class="checkbox">
												<label>
													  <input type="checkbox" name="optionsCheckboxes">
												  </label> Subscribe to our newsletter
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</div>
				<!-- wizard container -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!--  big container -->

	<div class="footer">
		<div class="container text-center">
			Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download
			<a
			 href="http://www.creative-tim.com/product/material-bootstrap-wizard">here.</a>
		</div>
	</div>
</div>