

<div class="section-white">

	<nav class="navbar navbar-primary navbar-fixed-top" id="sectionsNav">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="presentation.html">HealthCare.Exchange</a>
        	</div>

        	<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
    				<li>
						<a href="index.html">
							<i class="material-icons">apps</i> Learn More
						</a>
					</li>

					<li class="active" id="headerNavigationItems">
							<!--<li class="active">-->
						<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
							<a href="#testimonial1" role="tab" data-toggle="tab">
							<i class="material-icons">view_day</i> Sign-up
							<b class="caret"></b>
						</a>
						
					</li>


					<li class="button-container">
						<a href="http://www.creative-tim.com/buy/material-kit-pro?ref=presentation" target="_blank" class="btn btn-white btn-round">
						
							<i class="material-icons"></i> Login
						</a>
					</li>
        		</ul>
        	</div>
    	</div>
    </nav>

	<div class="section-space"></div>

	<div class="cd-section" id="headers">


	<!--     *********     HEADER 3      *********      -->

    <div class="header-3">
      
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<div class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="page-header header-filter" style="background-image: url('assets/img/surg.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-6 text-left">
										<h1 class="title">Connect with clinics looking for your skills</h1>
										<h4>Find upcoming procedures and surgeries, posted by verified clinics looking to engage with experts like you</h4>
										<br />

										<div class="buttons">
											<a href="#pablo" class="btn btn-primary btn-lg">
												Sign-Up
											</a>
											
										</div>

									</div>
								</div>
							</div>
				        </div>

					</div>
				

					<div class="item">
						<div class="page-header header-filter" style="background-image: url('assets/img/drPatient.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-7 col-md-offset-5 text-right">
										<h1 class="title">Find specialists to partner with for your surgeries and procedures</h1>
										<h4>Post your requirements for specialists for specific cases and get connected to relevant experts from our large community, willing to partner with you</h4>
										<br />

										<div class="buttons">
											<a href="#pablo" class="btn btn-danger btn-lg">
												<i class="material-icons">shopping_cart</i> Sign-Up
											</a>
										</div>

									</div>
								</div>
							</div>

				        </div>

					</div>

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<i class="material-icons">keyboard_arrow_left</i>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<i class="material-icons">keyboard_arrow_right</i>
				</a>
			</div>
		</div>

    </div>

    <!--     *********    END HEADER 3      *********      -->

	</div>

	<div class="cd-section" id="features">

	<div class="container">

		<!--     *********     FEATURES 1      *********      -->

	    <div class="features-1">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="title">Easy to use, yet Robust</h2>
					<h5 class="description">We have developed our platform by working closely with healthcare professionals and specifically for your needs</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<div class="info">
						<div class="icon icon-info">
							<i class="material-icons">chat</i>
						</div>
						<h4 class="info-title">Easy to Use</h4>
						<p>Post a case in less than 2 mins. Respond to requests in just 2 clicks</p>
					</div>
				</div>

				<div class="col-md-2">
					<div class="info">
						<div class="icon icon-success">
							<i class="material-icons">verified_user</i>
						</div>
						<h4 class="info-title">Robust verification"</h4>
						<p>Each user is personally verified for authenticity, and so is each case</p>
					</div>
				</div>

				<div class="col-md-2">
					<div class="info">
						<div class="icon icon-danger">
							<i class="material-icons">fingerprint</i>
						</div>
						<h4 class="info-title">Complete financial freedom"</h4>
						<p>Access experts across the entire spectrum; work with those who fit your budget</p>
					</div>
				</div>
			</div>

	    </div>

		<!--     *********    END FEATURES 1      *********      -->


		
	</div>



	</div>


	<div class="cd-section" id="teams">
	<!--     *********    TEAM 1     *********      -->

	<div class="team-1" id="team-1">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Create a profile and get started</h2>
					<h5 class="description">Using our platform is as easy as 1-2-3</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/profile.png" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Create Profile</h4>

							<p class="card-description">
								Get onto our platform by creating a simple profile for yourself or your Facility. Registration takes all of 5 minutes
							</p>
							<div class="footer">
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/post.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Post a case</h4>
							
							<p class="card-description">
								Provide basic details of the case (medical history, current condition and required procedure) and tag the specialities you are looking for. You can also reach out to specific experts to show interest.
							</p>
							<div class="footer">
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card card-profile card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/apply.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Apply for a case</h4>

							<p class="card-description">
								Show your interest in taking up a procedure and share a quotation, by simply one click.
							</p>
							<div class="footer">
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!--     *********    END TEAM 1      *********      -->

	<!--     *********    TEAM 4     *********      -->

	<div class="team-4 section-image" style="background-image: url('assets/img/bg7.jpg')">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Revolutionary and growing</h2>
					<h5 class="description">Though we are still a baby, we have a growing list of partners.</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="card card-profile">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/card-profile1-square.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Alec Thompson</h4>
							<h6 class="category text-muted">CEO / Co-Founder</h6>
							<p class="card-description">
								Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
							</p>
							<div class="footer">
								<a href="#pablo" class="btn btn-just-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-profile">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/card-profile2-square.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">George West</h4>
							<h6 class="category text-muted">Backend Hacker</h6>

							<p class="card-description">
								Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
							</p>
							<div class="footer">
								<a href="#pablo" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-profile">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/card-profile4-square.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Gina Andrew</h4>
							<h6 class="category text-muted">Web Designer</h6>

							<p class="card-description">
								Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
							</p>
							<div class="footer">
								<a href="#pablo" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
								<a href="#pablo" class="btn btn-just-icon btn-pinterest btn-round"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<!--     *********    END TEAM 4      *********      -->

	</div>

	<div class="cd-section" id="testimonials">

	<!--     *********    TESTIMONIALS 3     *********      -->

	<div class="testimonials-3">

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2 class="title">What Clients Say</h2>

				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="card card-testimonial card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/card-profile1-square.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Mike Andrew</h4>
							<h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6>
							<h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet Kanye I speak yell scream directly at the old guard on behalf of the future."
							</h5>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-testimonial card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/card-profile4-square.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Tina Thompson</h4>
							<h6 class="category text-muted">Marketing @ Apple Inc.</h6>
							<h5 class="card-description">"I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna for the invite thank you to the whole Vogue team It wasn’t any Kanyes I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling"
							</h5>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-testimonial card-plain">
						<div class="card-avatar">
							<a href="#pablo">
								<img class="img" src="assets/img/faces/card-profile6-square.jpg" />
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">Gina West</h4>
							<h6 class="category text-muted">CFO @ Apple Inc.</h6>
							<h5 class="card-description">"I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... Royère doesn't make a Polar bear bed but the Polar bear. This is a very nice testimonial about this company."
							</h5>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<!--     *********    END TESTIMONIALS 3      *********      -->

	</div>

	<div class="cd-section" id="contactus">

	<!--     *********    CONTACT US 1     *********      -->

	<div class="contactus-1 section-image" style="background-image: url('assets/img/examples/city.jpg')">

		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="title">Get in Touch</h2>
					<h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">pin_drop</i>
						</div>
						<div class="description">
							<h4 class="info-title">Find us at the office</h4>
							<p> Bld Mihail Kogalniceanu, nr. 8,<br>
								7652 Bucharest,<br>
								Romania
							</p>
						</div>
					</div>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">phone</i>
						</div>
						<div class="description">
							<h4 class="info-title">Give us a ring</h4>
							<p> Michael Jordan<br>
								+40 762 321 762<br>
								Mon - Fri, 8:00-22:00
							</p>
						</div>
					</div>

				</div>
				<div class="col-md-5 col-md-offset-2">
					<div class="card card-contact">
						<form role="form" id="contact-form" method="post">
							<div class="header header-raised header-primary text-center">
								<h4 class="card-title">Contact Us</h4>
							</div>
							<div class="card-content">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">First name</label>
											<input type="text" name="name" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Last name</label>
											<input type="text" name="name" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group label-floating">
									<label class="control-label">Email address</label>
									<input type="email" name="email" class="form-control"/>
								</div>
								<div class="form-group label-floating">
									<label class="control-label">Your message</label>
									<textarea name="message" class="form-control" id="message" rows="6"></textarea>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes">
												I'm not a robot
											</label>
										</div>
									</div>
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary pull-right">Send Message</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--     *********    END CONTACT US 1      *********      -->

	</div>

	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#headers" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Headers</span>
				</a>
			</li>
			<li>
				<a href="#features" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">Features</span>
				</a>
			</li>
			<li>
				<a href="#blogs" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Blogs</span>
				</a>
			</li>
			<li>
				<a href="#teams" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Teams</span>
				</a>
			</li>
			<li>
				<a href="#projects" data-number="5">
					<span class="cd-dot"></span>
					<span class="cd-label">Projects</span>
				</a>
			</li>
			<li>
				<a href="#pricing" data-number="6">
					<span class="cd-dot"></span>
					<span class="cd-label">Pricing</span>
				</a>
			</li>
			<li>
				<a href="#testimonials" data-number="7">
					<span class="cd-dot"></span>
					<span class="cd-label">Testimonials</span>
				</a>
			</li>
			<li>
				<a href="#contactus" data-number="8">
					<span class="cd-dot"></span>
					<span class="cd-label">Contact Us</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
